@using Microsoft.AspNetCore.Http
@model List<TitleWithEntryDto>

@if (Model != null)
{
    <div class="container-fluid">
        <div class="row mt-4">
            @foreach (var titleWithEntryDto in Model)
            {
                <div class="col">
                    <h5>
                        <a href="#" type="button" class="entry-title">@titleWithEntryDto.TitleName</a>
                    </h5>
                </div>

                <div class="row">
                    <p>
                        @titleWithEntryDto.EntryContent

                    </p>
                </div>
                <div class="row">
                    <!-- Sol taraftaki elemanlar -->
                    <div class="col-8 d-flex justify-content-start">
                        <div class="row">
                            <div class="col">
                                <a href="#" type="button"><i class="bi bi-arrow-up-square up"></i></a>
                            </div>
                            <div class="col">
                                <a href="#" type="button"><i class="bi bi-arrow-down-square down"></i></a>
                            </div>
                            <div class="col">
                                <a href="#" type="button"><i class="bi bi-droplet fav" id="icon"></i></a>
                            </div>
                            <div class="col">
                                <a href="#" type="button" class="entry-number">250</a>
                            </div>
                        </div>
                    </div>


                    <!-- Sağ taraftaki elemanlar -->
                    <div class="col-4 d-flex justify-content-end">
                        <div class="row">
                            <div class="col">
                                <a href="#" type="button"><i class="bi bi-box-arrow-up up"></i></a>
                            </div>
                            <div class="col">
                                <a href="#" type="button"><i class="bi bi-three-dots up"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- person icon,name  and date  -->
                <div class="row">
                    <div class="col-12 d-flex justify-content-end">
                        <div class="row ">
                            <div class="col-9">
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <a href="#" type="button" class="person-name text-eksi">@titleWithEntryDto.Username</a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-end">
                                        <a href="#" type="button" class="person-name text-eksi-gray">@titleWithEntryDto.CreatedDate</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3">
                                <a href="#" type="button"><i class="bi bi-person-circle person-cycle"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}