@model TitleWithEntrySingleDto
@{
    ViewData["Title"] = "UpdateEntry";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="col-12 container-fluid bg-light mt-4">
    <div class="col mb-2">
        <h5>
            <a asp-controller="TitleDetail" asp-action="Index" asp-route-channelName=@Model.ChannelName asp-route-titleId=@Model.TitleId type="button" class="entry-title">@Model.TitleName</a>
        </h5>
    </div>
    <div class="col-12 d-flex">
        <button class="border create-entry-opt">(bkz: )</button>
        <button class="border create-entry-opt">hede</button>
        <button class="border create-entry-opt">*</button>
        <button class="border create-entry-opt">-spoiler-</button>
        <button class="border create-entry-opt">http://</button>
    </div>
    <form class="form" method="post" asp-action="UpdateEntry">
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="col-12">
            <div class="form-group">
                <textarea class="form-control create-entry-text-area" name="EntryContent">@Model.EntryContent</textarea>
                <span asp-validation-for="EntryContent" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 my-2">
            <a href="#" class="dropdown-toggle create-entry-opt">kenarda dursun</a>
            <button type="submit" class="create-entry-button">yolla</button>
        </div>
    </form>
</div>

