<footer>
    <div class="eksi-nav-bottom-line mt-4"></div>
    <div class="col-lg-12">
        <div class="footer-list">
            <ul class="d-flex justify-content-center ul-custom p-0 mt-2 overflow-visible">
                <li class="me-2"><a href="#" class="auth-link">iletişim</a></li>
                <li class="me-2"><a href="#" class="auth-link">şeffaflık raporları</a></li>
                <li class="me-2"><a href="#" class="auth-link">sözlük kuralları</a></li>
                <li class="me-2"><a href="#" class="auth-link">reklam</a></li>
                <li class="me-2"><a href="#" class="auth-link">kariyer</a></li>
                <li class="me-2"><a href="#" class="auth-link">kullanım koşulları</a></li>
                <li class="me-2"><a href="#" class="auth-link">gizlilik politikamız</a></li>
                <li class="me-2"><a href="#" class="auth-link">sss</a></li>
                <li class="me-2"><a href="#" class="auth-link">istatistikler</a></li>
                <li class="me-2"><a href="#" class="auth-link">sub-etha</a></li>
                <li class="me-2"><a href="#" class="auth-link">instagram</a></li>
                <li class="me-2"><a href="#" class="auth-link">twitter</a></li>
                <li class="me-2"><a href="#" class="auth-link">facebook</a></li>
            </ul>
        </div>
    </div>
</footer>
