<div class="col-3 hidden-custom">
    <br><br>
    <h6>notlar</h6>
    <form class="form" method="post">
        <div class="form-group">
            <textarea class="form-control text-area-custom" placeholder="birşeyler yaz"></textarea>
        </div>
        <a href="#" type="button">
            <i class="bi bi-bookmark-check-fill "
               style="color: rgb(45, 44, 44); font-size: 30px;"></i>
        </a>
    </form>
</div>
