@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-10 full">
            <div class="row">
                <div class="col-12 row m-1 mb-2">
                    <h5>kanallar</h5>
                    <label>"bugün"de takip etmek istediğiniz kanallar</label>
                </div>
                <div class="col-12 row mx-1 py-2 channel-hover">
                    <div class="col-10">
                        <div class="col-12">
                            <a href="#" class="auth-link" style="color:black"><h5>#haber</h5></a>
                        </div>
                        <div class="col-12">
                            <label>yurtta ve dünyada olan biten</label>
                        </div>
                    </div>
                    <div class="col-2 d-flex justify-content-center align-items-center auth-entrance-link-green my-2 rounded">
                        <a class="auth-entrance-link-green-text" href="#">takip et</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- col-10 bitişi  -->
    </div>

</div>

