@using Microsoft.AspNetCore.Http

@{
    var user = Context.User;
    var isLoggedIn = user.Identity.IsAuthenticated;
    var username = user.Identity.Name;
}
<section>
    <div class="eksi-nav-top-line"></div>
    <div class="container">
        <nav class="container-fluid-custom">
            <div class="row mt-3">
                <div class="col-6 full">
                    <div class="d-flex container-fluid-custom justify-content-between">
                        <div class="col-5">
                            <a href="/Home/Index" target="_self">
                                <img alt="eksi-logo" src="~/eksi-template/images/eksisozluk.png"
                                     style="width: 120px; height: 30px;" />
                            </a>
                        </div>
                        <div class="d-flex col-7">
                            <input class="input-eksi w-100 h-100" placeholder="ne yapsak bugün" />
                            <button class="btn-eksi h-100" type="button"><i class="bi bi-search white"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-6 hidden-custom">

                    @if (!isLoggedIn)
                    {
                        @*      giriş öncesi  *@
                        <div class="d-flex container-fluid-custom justify-content-end mt-1">
                            <a class="me-4 auth-link" href="/Auth/SignIn">giriş</a>
                            <a class="me-4 auth-link" href="/Auth/Register">kayıt ol</a>
                        </div>
                        @* giriş öncesi bitiş *@

                    }

                    else
                    {

                        @*giriş sonrası *@
                        <div class="col-12 d-flex justify-content-end">
                            <div class="col-lg-6 col-md-12 d-flex">
                                <div class="col d-flex justify-content-center align-items-center auth-entrance-link me-1">




                                    <a asp-controller="Profile" asp-action="Index" asp-route-username="@username" class="auth-entrance-link-text"><i class="bi bi-person"></i> ben</a>


                                </div>
                                <div class="col d-flex justify-content-center align-items-center auth-entrance-link-green me-1">
                                    <a class="auth-entrance-link-green-text" href="#"><i class="bi bi-chat-right"></i> mesaj</a>
                                </div>
                                <div class="col d-flex justify-content-center align-items-center auth-entrance-link-green me-1">
                                    <a class="auth-entrance-link-green-text" href="#"><i class="bi bi-activity"></i> olay</a>
                                </div>
                                <div class="col d-flex justify-content-center align-items-center auth-entrance-link-dropdown dropdown me-1">
                                    <a asp-action="Logout" asp-controller="Auth" class="dropdown-toggle pb-2" type="button">
                                        <i class="bi bi-three-dots"></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><button class="dropdown-item" type="button">consectetur</button></li>
                                        <li><button class="dropdown-item" type="button">adipisicing</button></li>
                                        <li>
                                            <button class="dropdown-item" type="button">elit</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        @*giriş sonrası bitiş*@
                    }

                </div>
            </div>
            <div class="row mt-3 pt-2">
                <div class="col-12 full">
                    <ul class="d-flex justify-content-between ul-custom">
                        @if (isLoggedIn)
                        {
                            <li class="col text-center">
                                <a asp-controller="Home" asp-action="Index" asp-route-channelName="bugün" class="nav-link-custom pb-2">bugün</a>
                            </li>
                        }
                        <li class="col text-center">
                            <a asp-controller="Home" asp-action="Index" asp-route-channelName="gündem" class="nav-link-custom pb-2">gündem</a>
                        </li>
                        <li class="col text-center">
                            <a asp-controller="Home" asp-action="Index" asp-route-channelName="debe" class="nav-link-custom pb-2">debe</a>
                        </li>
                        <li class="col text-center">
                            <a asp-controller="Home" asp-action="Index" asp-route-channelName="sorunsallar" class="nav-link-custom pb-2">sorunsallar</a>
                        </li>
                        @if (isLoggedIn)
                        {
                            <li class="col text-center">
                                <a asp-controller="Home" asp-action="Index" asp-route-channelName="takip" class="nav-link-custom pb-2">takip</a>
                            </li>
                            <li class="col text-center">
                                <a asp-controller="Home" asp-action="Index" asp-route-channelName="son" class="nav-link-custom pb-2">son</a>
                            </li>
                            <li class="col text-center">
                                <a asp-controller="Home" asp-action="Index" asp-route-channelName="kenar" class="nav-link-custom pb-2">kenar</a>
                            </li>
                            <li class="col text-center">
                                <a asp-controller="Home" asp-action="Index" asp-route-channelName="çaylaklar" class="nav-link-custom pb-2">çaylaklar</a>
                            </li>
                        }
                        <li class="col text-center">
                            <a asp-controller="Home" asp-action="Index" asp-route-channelName="spor" class="nav-link-custom pb-2">#spor</a>
                        </li>
                        <li class="col text-center">
                            <a asp-controller="Home" asp-action="Index" asp-route-channelName="iliskiler" class="nav-link-custom pb-2">#ilişkiler</a>
                        </li>
                        <li class="col text-center">
                            <a asp-controller="Home" asp-action="Index" asp-route-channelName="siyaset" class="nav-link-custom pb-2">#siyaset</a>
                        </li>
                        <li class="col text-center dropdown">
                            <a class="dropdown-toggle nav-link-custom pb-2" type="button">
                                <i class="bi bi-three-dots"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><button class="dropdown-item" type="button">consectetur</button></li>
                                <li><button class="dropdown-item" type="button">adipisicing</button></li>
                                <li>
                                    <button class="dropdown-item" type="button">elit</button>
                                </li>
                            </ul>
                        </li>
                        <li class="col">
                            <a href="https://www.youtube.com/penavideo" target="_blank">
                                <img id="pena-id"
                                     class="pena ms-4" src="~/eksi-template/images/pena.png" alt="pena" />
                            </a>
                        </li>
                        <li class="col">
                            <a href="https://eksiseyler.com/" target="_blank">
                                <img id="eksi-seyler-id"
                                     class="eksi-seyler me-4" src="~/eksi-template/images/eksi-seyler.png" alt="eksi-seyler" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="eksi-nav-bottom-line mb-4"></div>
</section>