<div class="col-12">
    <hr>
    <a href="#" type="button" class="entry-number"> entry'ler </a>
    &nbsp
    <a href="#" type="button" class="entry-number"> favoriler </a>
    &nbsp
    <a href="#" type="button" class="entry-number"> görseller </a>
    &nbsp
    <a href="#" type="button" class="entry-number"> istatistikler</a>
    <hr>
</div>
