<section>
    <div class="container">
        <div class="container-fluid-custom">
            <div class="row">
                <div class="col-12 hidden-custom overflow-y-scroll">
                    <div class="aside-card mb-2 mx-2">
                        <a href="#" class="card-link">
                            <div class="row pt-2 pb-2 card-link">
                                <div class="col-10">
                                    <p class="title-content m-0">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                                    </p>
                                </div>
                                <div class="col-2 entry-number-aside" style="text-align: right;">
                                    <span>15</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>